@page "/"
@using System.Security.Principal
@using Nuclep.GestaoQualidade.BlazorServer.Helpers
@inject HttpClient Http

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code{

    protected override async Task OnInitializedAsync()
    {
        var login = string.IsNullOrEmpty(WindowsIdentity.GetCurrent().Name) ? string.Empty : Utils.RemoverPrefixo(WindowsIdentity.GetCurrent().Name, "NUCLEP\\");
        
        await Http.GetAsync("api/usuario/existeusuario?nomeAD=" + login);


    }
}
